* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

/* -----------------HEADER----------------- */
header {
    position: relative;
    overflow: hidden;
    padding: 16px;
    opacity: 1;
}

header h1 {
    text-align: center;
    padding: 35px;
    font-size: 4em;
    background-color: white;
}

header p {
    text-align: center;
    background-color: white;
}

/* -----------------CUERPO----------------- */
.inicio p {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.cuerpo {
    position: relative;
    overflow: hidden;
    padding: 16px;
    opacity: 1;
    margin: 2%;
}

p {
    padding: 1%;
    font-size: 1em;
    text-decoration: none;
    color: black;
}

.seccion {
    margin-bottom: 3%;
    border-spacing: 5px;
    background-color: rgba(255, 255, 255, 0.462);
    border-radius: 2%;
    text-align: justify;
    padding: 2%;
    display: flex;
    align-items: center;
}

.twitter {
    margin-right: 5%;
    height: 15px;
}

/* -----------------FONDO----------------- */
.fondo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.42;
}

/* -----------------FOOTER----------------- */
footer {
    margin-top: 7%;
    position: relative;
    overflow: hidden;
    opacity: 1;
    text-align: center;
    padding: 35px;
    font-size: 1em;
    background-color: white;
}